{% extends 'partial/base.html' %}
{% block title %}<title>{{ title }}</title>{% endblock %}
{% block content %}
  <h1>{{ title }}</h1>
  <form action="{{ action_url|default('') }}" method="post">
    {% for field in fields %}
      <div class="form-field">
        <label>{{ field.label }}</label>
        {% if field.type == 'select' %}
          <select name="{{ field.name }}">
            {% if field.required is false %}<option />{% endif %}
            {% for value in field.options|default([]) %}
              <option value="{{ value[0] }}"
                      {% if field.selected == value[0] %}selected{% endif %}>
                {{ value[1] }}
              </option>
            {% endfor %}
          </select>
        {% else %}
          <input type="{{ field.type|default('text') }}"
                 name="{{ field.name }}"
                 value="{{ field.value }}"/>
        {% endif %}
      </div>
    {% endfor %}
    <p class="horizontal-center">
      <input type="submit" value="Submit" />
    </p>
  </form>
  <a class="button" href="{{ url_for('homepage') }}">Main Menu</a>
{% endblock %}
