{% extends 'partial/base.html' %}
{% block head %}
  <style>
  .query-container {
    min-width: 80%;
  }
  </style>
{% endblock %}
{% block title %}<title>Main Menu</title>{% endblock %}
{% block content %}
  <h1 class="text-center">Bases de Dados 9090</h1>
  <div class="container">
    <a class="button" href="{{ url_for('list_customer') }}">Customer</a>
    <a class="button" href="{{ url_for('list_simple_category') }}">Product #TODO</a>
    <a class="button" href="{{ url_for('list_super_category') }}">Supplier #TODO</a>
    <a class="button" href="{{ url_for('list_has_other') }}">Orders #TODO</a>
    <a class="button" href="{{ url_for('list_product') }}">Pay #TODO</a>
  </div>
{% endblock %}
