body {
  background-color: #181a1b;
  color: white;
  padding: 20px;
  font-family: "Open Sans", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
}

.page-center {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  margin-top: 2em;
  font-size: 0.9rem;
  opacity: 0.6;
  transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

footer:hover {
  opacity: 1;
}

.horizontal-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

a.button {
  background-color: black;
  border: 2px solid #4caf50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px;
  transition-duration: 0.3s;
  border-radius: 12px;
}

a.button:hover,
a.button:focus {
  background-color: #4caf50; /* Green */
  outline: none;
}

.button.danger {
  border: 2px solid #df2727;
}

.button.danger:hover {
  background-color: #df2727;
}

a.list {
  color: white !important;
}

a.remove {
  color: white !important;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: wrap;
}

.container > a {
  flex: 1 0 20%;
}

.table-container {
  overflow-x: auto;
  max-width: 95vw;
}

table {
  border-collapse: collapse;
}

th {
  padding: 20px;
  background-color: cadetblue;
  text-transform: capitalize;
}

tr {
  transition-duration: 0.3s;
}

tr:nth-child(even) {
  background-color: #3a3a3a;
}

tr:hover {
  background-color: orangered;
}
td {
  padding: 12px;
}

td.remove {
  text-align: center;
  background-color: red;
  transition-duration: 0.3s;
}

td.remove:hover {
  background-color: #790000;
}

td.list {
  text-align: center;
  background-color: rgb(12, 62, 63);
  transition-duration: 0.3s;
}

td.list:hover {
  background-color: rgb(7, 18, 18);
}

input {
  border: 2px solid #4caf50;
  border-radius: 8px;
  padding: 4px;
}

input[type="text"],
select {
  background-color: #0d0e0e;
  color: #fff;
  border-radius: 1em 1em 0 0;

  border: 2px solid transparent;
  border-bottom-color: #4caf50;
  outline: none;

  padding: 0.5em 0.8em;
}

input[type="text"]:focus,
select:focus {
  border-color: #4caf50;
  outline: none;
}

button.button,
input[type="submit"] {
  background-color: black;
  border: 2px solid #4caf50;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.3s;
  border-radius: 12px;
  margin-left: 12px;
  margin-right: 12px;
  cursor: pointer;
}

button.button:hover,
input[type="submit"]:hover,
button.button:focus,
input[type="submit"]:focus {
  background-color: #4caf50; /* Green */
  outline: none;
}

textarea.query {
  width: 100%;
  border: 2px solid transparent;
  border-bottom-color: #4caf50;
  margin-top: 10px;
  box-sizing: border-box;

  background-color: #0d0e0e;
  color: #fff;
  border-radius: 1em 1em 0 0;

  font-family: monospace;
  font-size: 1.3em;
  padding: 1em;
}

textarea.query:focus {
  border-color: #4caf50;
  outline: none;
}

form {
  display: inline-block;
  position: relative;
  margin: 0;
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;

  margin-bottom: 2em;
}

.form-field label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.form-field input,
.form-field select {
  width: 100%;
  box-sizing: border-box;
}

.chip {
  padding: 0.2em 0.5em;
  border-radius: 0.8em;
  font-weight: bold;
}

.navbar-spacing {
  height: 50px;
}

.navbar {
  background: #0d0e0e;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;

  padding: 0 1em;
}

.navbar a {
  padding: 0.5em;
  border-radius: 0.5em;

  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.flex-grow {
  flex-grow: 1;
}

.tab-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.tab-btn {
  border-bottom: 1px solid #3a3a3a;
  transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: inline-block;
  font-weight: bold;

  padding: 0.8em 2em;
  margin: 0;
  margin-bottom: 1px;
  flex-grow: 1;
  text-align: center;
}

.tab-btn:hover {
  border-bottom: 2px solid #4caf50;
  color: #4caf50;
  margin-bottom: 0px;
}

.tab-btn.active {
  border-bottom: 2px solid #4caf4fb5;
  color: #4caf4fb5;
  margin-bottom: 0px;
}

.text-center {
  text-align: center;
}
