<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='img/box.png') }}"
          type="image/x-icon"/>
    {% block head %}{% endblock %}
    {% block title %}{% endblock %}
  </head>
  <body>
    <div class="page-center">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
