{% extends 'partial/base.html' %}
{% block head %}
  <style>
  pre {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 1em;
    width: fit-content;
    font-size: 1.1em;
  }
  </style>
{% endblock %}
{% block title %}<title>{{ title }}</title>{% endblock %}
{% block content %}
  <nav class="navbar">
    <a href="{{ url_for('homepage') }}">Main Menu</a>
    <div class="flex-grow"></div>
    {% for action in (page_actions|default([])) %}
      <a href="{{ action.link }}">{{ action.title }}</a>
    {% endfor %}
  </nav>
  <div class="navbar-spacing"></div>
  <div class="tab-nav">
    {% for action in (page_top_actions|default([])) %}
      <a class="tab-btn {% if action.active %}active{% endif %}"
         href="{{ action.link }}">{{ action.title }}</a>
    {% endfor %}
  </div>
  <h1>{{ title }}</h1>
  {% if query %}<pre><code>{{ query|e }}</code></pre>{% endif %}
  {% if cursor %}
    {% if cursor.description %}
      <div class="table-container">
        <table border="2px">
          <thead>
            <tr>
              <tr>
                {% for record in cursor.description %}<th>{{ record[0]|replace("_"," ")|e }}</th>{% endfor %}
                {% for action in (row_actions if row_actions else []) %}
                  <th></th>
                {% endfor %}
              </tr>
            </tr>
          </thead>
          <tbody>
            {% for record in cursor %}
              <tr>
                {% for value in record %}
                  <td>
                    {% if loop.index0 in chips %}
                      <span class="chip"
                            style="background-color: {{ chips[loop.index0][value]|default('#000', true) }}">
                        {{ value|e if value is not none else '' }}
                      </span>
                    {% else %}
                      {{ value|e if value is not none else '' }}
                    {% endif %}
                  </td>
                {% endfor %}
                {% for action in (row_actions|default([])) %}
                  <td class="{{ action.className }}">
                    <a class="{{ action.className }}" href="{{ action.link(record) }}">{{ action.name }}</a>
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p>Query successful</p>
    {% endif %}
  {% else %}
    <p>Erro: ao obter dados da base de dados!</p>
  {% endif %}
{% endblock %}
