{% extends 'partial/base.html' %}
{% block head %}
  <style>
  .query-container {
    min-width: 80%;
  }
  </style>
{% endblock %}
{% block title %}<title>Main Menu</title>{% endblock %}
{% block content %}
  <h1 class="text-center">Bases de Dados 9090</h1>
  <div class="container">
    <a class="button" href="{{ url_for('list_customer') }}">Customer</a>
    <a class="button" href="{{ url_for('list_product') }}">Product</a>
    <a class="button" href="{{ url_for('list_supplier') }}">Supplier</a>
    <a class="button" href="{{ url_for('list_orders') }}">Orders</a>
    <a class="button" href="{{ url_for('list_contains') }}">Contains</a>
    <a class="button" href="{{ url_for('list_pay') }}">Pay</a>
  </div>
{% endblock %}
